.header-sm{
    display: block
}
.header{
    display: none;
}

.sidebar{
    margin-top:-60px;
    left:-300px;
    transition:all .2s;
    z-index: 1000;
    font-size:14px;
    height:100%;
}
.OverB-content{
    margin:0 auto;
}
.menu-root2{
    display: inline-block;
}
.menu-rootInp{
    height: 30px;
    line-height: 30px;
    padding: 0 15px 0 30px;
    border: 1px solid #e3e3e3;
    color: #273849;
    outline: none;
    border-radius: 15px;
    margin-right: 10px;
    background: url(../images/search.png) 8px 5px no-repeat;
    background-size: 20px;
}
.menu-rootInp:focus{
    border-color:rgb(77, 189, 138);
}